flask
Flask-Cors
flask-socketio
uvicorn
fastapi
python-socketio
torch
torchvision
opencv-python
matplotlib
pandas
scikit-learn
numpy
opencv-python
scikit-learn
scipy
seaborn
nbformat
# PYTORCH (will install cpu version, must download manually to match with machine):
# torch 
# torchaudio 
# torchvision 
