attrs==24.3.0
blinker==1.9.0
click==8.1.8
contourpy==1.3.1
cycler==0.12.1
fastjsonschema==2.21.1
filelock==3.16.1
Flask==3.1.0
Flask-Cors==5.0.0
fonttools==4.55.3
fsspec==2024.10.0
itsdangerous==2.2.0
Jinja2==3.1.5
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_core==5.7.2
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.0
mpmath==1.3.0
nbformat==5.10.4
networkx==3.4.2
numpy==2.1.2
packaging==24.2
pandas==2.2.3
pillow==11.0.0
platformdirs==4.3.6
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
referencing==0.35.1
rpds-py==0.22.3
scikit-learn==1.6.0
scipy==1.14.1
setuptools==70.2.0
six==1.17.0
sympy==1.13.1
threadpoolctl==3.5.0
torch==2.6.0.dev20241231
torchaudio==2.6.0.dev20241231
torchvision==0.22.0.dev20241231
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.2
Werkzeug==3.1.3
